<div class="my-3 page">
  <div class="mx-3 wrapper">
    <div class="px-3 d-flex align-items-center page-title">
      <span>Página Inicial</span>
    </div>
    <div class="px-3 d-flex header">
      <div class="mt-2 d-flex align-self-start">
        <img class="avatar" src="assets/images/avatar.png" alt="avatar-img">
      </div>

      <div class="d-flex flex-column input-container">
        <textarea class="my-3 post-input" 
          placeholder="O que está acontecendo?" 
          maxlength="130" 
          [(ngModel)]="value" 
          (keyup)="autoGrowTextZone($event)"
          (keyup)="calculateCharsLeft()">
        </textarea>

        <div class="mb-3 privacy">
          <img class="me-1 privacy-icon" src="assets/images/world.svg" alt="world-icon">
          <span>Qualquer pessoa pode responder</span>
        </div>

        <div class="w-100 py-3 d-flex justify-content-between submit-container">
          <div class="d-flex align-items-center icons">
            <img class="me-3 icon" src="assets/images/img.svg" alt="img-icon">
            <img class="me-3 icon" src="assets/images/gif.svg" alt="gif-icon">
            <img class="me-3 icon" src="assets/images/list.svg" alt="list-icon">
            <img class="me-3 icon" src="assets/images/smiles.svg" alt="smiles-icon">
            <img class="icon" src="assets/images/calendar.svg" alt="calendar-icon">
          </div>
          <div>
            <span class="me-3 chars">({{ inputLen }} / 130)</span>
            <button type="submit" class="submit-btn" 
              (click)="createPost()" [disabled]="!value">
              Tweetar</button>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngFor="let post of posts">
      <app-post [post]="post" (deletePost)="handleDeletePost(post)"></app-post>
    </ng-container>
  </div>
</div>